{% extends 'base.html' %}

{% block content %}

{% load static %}

<section class="contain mb-20">
    <h1 class="text-4xl lg:text-5xl text-green text-center mt-16 mb-12">Analytics</h1>

    <div class="contain flex flex-col md:flex-row justify-between items-center gap-4">
        <canvas id="numberOfUsersChart"></canvas>
        <canvas id="usersGenderPercentage"></canvas>
    </div>

    <div class="contain flex flex-col md:flex-row justify-between items-center gap-4 py-12">
        <canvas id="totalFoodCounts"></canvas>
        <canvas id="nutrientSummary"></canvas>
    </div>

    <div class="contain flex flex-col md:flex-row justify-between items-center gap-4 py-12">
        <canvas id="calorieGoalGraph"></canvas>
        <canvas id="caloriesConsumedWeek" class="self-center"></canvas>
    </div>
</section>



<script>
    const ctx = document.getElementById('numberOfUsersChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Guest', 'New User', 'Existing User'],
            datasets: [{
                label: 'Number of Users',
                data: [12, 19, 3],
                backgroundColor: [
                    '#508278',
                    '#82FF87',
                    '#C8FAC8',
                ],
            }]
        },
        options: {

            scales: {
                x: {
                    ticks: {
                        color: 'white',
                    },
                },
                y: {
                    ticks: {
                        color: 'white',
                    },
                    beginAtZero: true
                }
            }
        }
    });

    const ctxGender = document.getElementById('usersGenderPercentage').getContext('2d');
    const myChartGender = new Chart(ctxGender, {
        type: 'doughnut',
        data: {
            labels: ['Female', 'Male', 'Rather Not to Say'],
            datasets: [{
                label: 'Number of Users',
                color: 'white',
                data: [36, 59, 5],
                backgroundColor: [
                    '#508278',
                    '#82FF87',
                    '#C8FAC8',
                ],
                hoverOffset: 4
            }]
        },
        options: {
            elements: {
                arc: {
                    borderWidth: 0
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: 'white',
                    },
                },
                y: {
                    ticks: {
                        color: 'white',
                    },
                    beginAtZero: true
                }
            }
        }
    });

    const ctxFoodCounts = document.getElementById('totalFoodCounts').getContext('2d');
    const myChartFoodCounts = new Chart(ctxFoodCounts, {
        type: 'line',
        data: {
            labels: ['Oreo', 'Rice', 'Grapes', 'Chicken'],
            datasets: [
                {
                    label: 'Oreo',
                    data: [36, 59, 5, 23],
                    hoverOffset: 4,
                    borderColor: 'green'
                },
                {
                    label: 'Rice',
                    data: [76, 28, 15, 57],
                    hoverOffset: 4,
                    borderColor: 'blue'
                },
                {
                    label: 'Grapes',
                    data: [93, 17, 83, 12],
                    hoverOffset: 4,
                    borderColor: 'violet'
                },
                {
                    label: 'Chicken',
                    data: [28, 16, 73, 81],
                    hoverOffset: 4,
                    borderColor: 'gold'
                },
            ],

        },
        options: {
            elements: {
                arc: {
                    borderWidth: 0
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: 'white',
                    },
                    grid: {
                        color: 'white'
                    },
                },
                y: {
                    ticks: {
                        color: 'white',
                    },
                    grid: {
                        color: 'white'
                    },
                    beginAtZero: true
                }
            }
        }
    });

    const ctxNutrient = document.getElementById('nutrientSummary').getContext('2d');
    const myChartNutrient = new Chart(ctxNutrient, {
        type: 'line',
        data: {
            labels: ['Fat', 'Carbs', 'Protein'],
            datasets: [
                {
                    label: 'Fat',
                    data: [36, 59, 5],
                    hoverOffset: 4,
                    backgroundColor: [
                        'rgba(80, 130, 120, 0.6)',
                        'rgba(130, 255, 135, 0.6)',
                        'rgba(200, 250, 200, 0.6)',
                    ],
                    fill: true,
                },
                {
                    label: 'Carbs',
                    data: [76, 28, 15],
                    hoverOffset: 4,
                    backgroundColor: [
                        'rgba(80, 130, 120, 0.6)',
                        'rgba(130, 255, 135, 0.6)',
                        'rgba(200, 250, 200, 0.6)',
                    ],

                    fill: true,
                },
                {
                    label: 'Protein',
                    data: [93, 17, 83, 12],
                    hoverOffset: 4,
                    backgroundColor: [
                        'rgba(80, 130, 120, 0.6)',
                        'rgba(130, 255, 135, 0.6)',
                        'rgba(200, 250, 200, 0.6)',
                    ],
                    fill: true,
                },
            ],

        },
        options: {
            elements: {
                arc: {
                    borderWidth: 0
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: 'white',
                    },
                    grid: {
                        color: 'white'
                    },
                },
                y: {
                    ticks: {
                        color: 'white',
                    },
                    grid: {
                        color: 'white'
                    },
                    beginAtZero: true
                }
            }
        }
    });

    const ctxGoal = document.getElementById('calorieGoalGraph').getContext('2d');
    const myChartGoal = new Chart(ctxGoal, {
        type: 'bar',
        data: {
            labels: ['June', 'July', 'August', 'September'],
            datasets: [
                {
                    label: 'June',
                    data: [2456, 2556, 2668, 2392],
                    backgroundColor: [
                        'rgba(80, 130, 120, 0.6)',
                        'rgba(130, 255, 135, 0.6)',
                        'rgba(200, 250, 200, 0.6)',
                        'rgba(200, 250, 200, 0.8)',
                    ],
                }
            ]
        },
        options: {

            scales: {
                x: {
                    ticks: {
                        color: 'white',
                    },
                },
                y: {
                    ticks: {
                        color: 'white',
                    },
                    beginAtZero: true
                }
            }
        }
    });

    const ctxConsumed = document.getElementById('caloriesConsumedWeek').getContext('2d');
    const myChartConsumed = new Chart(ctxConsumed, {
        type: 'bar',
        data: {
            labels: ['June 3 2022', 'June 10 2022', 'June 17 2022', 'June 24 2022'],
            datasets: [
                {
                    label: 'June',
                    data: [2194, 2965, 2459, 2391],
                    backgroundColor: [
                        'rgba(80, 130, 120, 0.6)',
                        'rgba(130, 255, 135, 0.6)',
                        'rgba(200, 250, 200, 0.6)',
                        'rgba(200, 250, 200, 0.8)',
                    ],
                }
            ]
        },
        options: {

            scales: {
                x: {
                    ticks: {
                        color: 'white',
                    },
                },
                y: {
                    ticks: {
                        color: 'white',
                    },
                    beginAtZero: true
                }
            }
        }
    });

</script>

{% endblock content %}