{% extends 'base.html' %}

{% block content %}

{% load static %}

<section class="contain mb-20">
    <h1 class="text-4xl lg:text-5xl text-green text-center mt-16 mb-12">Analytics</h1>

    <div class="contain flex flex-col md:flex-row justify-between items-center gap-4">
        <canvas id="numberOfUsersChart" data-all="{{ users_count }}" data-new="{{ user_new_count }}"
            data-guess="{{ guess_users }}"></canvas>
        <canvas id="usersGenderPercentage"></canvas>
    </div>

</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script>
    const existingUsers = jQuery("#numberOfUsersChart").data("all");
    const newUsers = jQuery("#numberOfUsersChart").data("new");
    const guessUsers = jQuery("#numberOfUsersChart").data("guess");
    console.log(existingUsers, newUsers);
    const ctx = document.getElementById('numberOfUsersChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Guest', 'New User', 'Overall Users'],
            datasets: [
                {
                    label: 'Number of Users',
                    data: [guessUsers, newUsers, existingUsers],
                    backgroundColor: [
                        '#508278',
                        '#82FF87',
                        '#C8FAC8',
                    ],
                }
            ]
        },
        options: {

            scales: {
                x: {
                    ticks: {
                        color: 'white',
                    },
                },
                y: {
                    ticks: {
                        color: 'white',
                    },
                    beginAtZero: true
                }
            }
        }
    });

    const ctxGender = document.getElementById('usersGenderPercentage').getContext('2d');
    const myChartGender = new Chart(ctxGender, {
        type: 'doughnut',
        data: {
            labels: ['Female', 'Male', 'Rather Not to Say'],
            datasets: [{
                label: 'Gender Analytics',
                color: 'white',
                data: [{{ genderFemaleCount }}, {{ genderMaleCount }}, {{ genderOtherCount }}],
    backgroundColor: [
        '#508278',
        '#82FF87',
        '#C8FAC8',
    ],
        hoverOffset: 4
            }]
        },
    options: {
        elements: {
            arc: {
                borderWidth: 0
            }
        },
        scales: {
            x: {
                ticks: {
                    color: 'white',
                    },
            },
            y: {
                ticks: {
                    color: 'white',
                    },
                beginAtZero: true
            }
        }
    }
    });


</script>

{% endblock content %}