{% extends 'base.html' %}

{% block content %}

{% load static %}
<section>
    <!-- Changes for 7/21/2022 -->
    <div class="contain flex flex-col text-center lg:flex-row gap-4 p-5 my-5">
        <div class="w-full text-center flex flex-col gap-2 lg:text-left lg:items-start items-center justify-center p-5">
            <h1 id="username" class="text-6xl text-green">Hi, {{ request.user }} !</h1>
            <h2 class="text-3x1 italic hover:underline text-green"><a href="{% url 'tracker' %}">Back to Tracker</a>
            </h2>
            <div class="box-content border-2 border-green-300 flex justify-center text-center align-center flex-col w-96 p-5 h-full"
                style="max-width: 80vw;">
                <form method="POST" action="" class="login-form pt-4 text-black">
                    {% csrf_token %}
                    {% for field in form %}
                    <h1 class="text-2xl lg:text-3xl font-bold mb-3 text-green">Calorie Goal for Today</h1>

                    <div class="text-black text-center p-5 lg:text-3xl">
                        {{ field }}
                    </div>


                    {% endfor %}
                    <input
                        class="btn login_btn profile-submit ml-3 bg-green border border-4 p-5 rounded-full hover:underline cursor-pointer text-green"
                        type="submit" value="Set">

                </form>
            </div>
        </div>

        <div class="w-full text-center flex flex-col gap-2 lg:text-right lg:items-end items-center justify-center p-5">
            <img src="{% static 'media/target.svg' %}" class="" alt="Tracker Logo" style="max-width: 10rem;">
            <h1 class="text-5xl text-green">My Profile</h1>
            <h1 style="color: #508278;"> Your profile contains the information of calorie status like calorie goal of
                the day, records from past week, and list of foods.</h1>
            <div class="flex w-1/2">
                <div class="mb-3 w-full">
                    <label class="form-check-label inline-block text-white mb-4" for="level">Gender</label>
                    <select class="form-select form-select-lg mb-3
                        block
                        w-full
                        px-4
                        py-4
                        text-base
                        font-normal
                        text-white
                        bg-transparent
                        border border-solid border-white/10
                        rounded
                        transition
                        ease-in-out
                        m-0
                        outline-none focus:outline-none
                        focus:border-green-300 focus:ring-1 focus:ring-green-500" aria-label=" .form-select-lg example"
                        id="gender" name="level">
                        <option value="Rather not say" selected>Rather not say</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="contain flex flex-col md:flex-row justify-between items-center gap-4 py-12">
        <canvas id="calorieGoalGraph"></canvas>
        <canvas id="nutrientSummary"></canvas>
    </div>

    <div class="contain flex flex-col my-20 justify-center">
        <h1 class="lg:text-4xl text-2xl mb-2 font-bold  text-center" style="color: #508278;">Past Week Records

        </h1>

        <table class="table-auto border-collapse border border-green-300 my-7">
            <thead class="bg-green text-black  lg:text-3xl">
                <tr>
                    <th class="border border-green-300">Date</th>
                    <th class="border border-green-300">Calorie Consumed</th>
                    <th class="border border-green-300">Calorie Goal</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr class="text-center">
                    <td class="border border-green-300">{{ record.date }}</td>
                    <td class="border border-green-300">{{ record.total_calorie }}</td>
                    <td class="border border-green-300">{{ record.calorie_goal }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <canvas id="caloriesConsumedWeek" class="self-center"></canvas>

        <h1 class="lg:text-5xl text-3xl mb-2 font-bold  text-center" style="color: #508278;">All Foods Items

        </h1>


        <table class="table-auto border-collapse border border-green-300 mt-5">
            <thead class="bg-green text-black lg:text-3xl">
                <tr>
                    <th class="border border-green-300">Food Name</th>
                    <th class="border border-green-300">Calories</th>
                    <th class="border border-green-300">Quantity</th>
                    <th class="border border-green-300">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for food in food_items %}
                <tr class="text-center">
                    <td class="border border-green-300">{{ food.name }}</td>
                    <td class="border border-green-300">{{ food.calorie }}</td>
                    <td class="border border-green-300">{{ food.quantity }}</td>
                    <td
                        class="border border-green-300 flex flex-col lg:flex-row text-center lg:justify-center text-green">
                        <a class="btn btn-sm hover:underline font-bold lg:mr-2"
                            href="{% url 'update_food' food.id %}">Update</a><a
                            class="btn btn-sm hover:underline font-bold"
                            href="{% url 'delete_food' food.id %}">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <canvas id="allFoodsGraph" class="self-center mt-8 mb-12"></canvas>
    </div>


</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script>
    jQuery(document).ready(function () {
        jQuery("#gender").on('change', function () {
            let value = this.value;
            $.ajax({
                type: 'GET',
                url: '/allGender',
                data: {
                    'gender': value
                },
                dataType: 'json',
                success: function (data) {
                    alert(data);
                }
            });
        });
    });

    const ctxAllFoods = document.getElementById('allFoodsGraph').getContext('2d');
    const myChartAllFoods = new Chart(ctxAllFoods, {
        type: 'pie',
        data: {
            labels: {{ labelsFoodItem| safe }},
    datasets: [
        {
            label: 'Food Analytics',
            data: {{ dataFoodItems| safe }},
        backgroundColor: [
            'rgba(80, 130, 120, 0.6)',
            'rgba(130, 255, 135, 0.6)',
            'rgba(200, 250, 200, 0.6)',
            'rgba(200, 250, 200, 0.8)',
        ],
        }
    ]
        },
    options: {

        scales: {
            x: {
                ticks: {
                    color: 'white',
                    },
            },
            y: {
                ticks: {
                    color: 'white',
                    },
                beginAtZero: true
            }
        }
    }
    });

    const ctxConsumed = document.getElementById('caloriesConsumedWeek').getContext('2d');
    const myChartConsumed = new Chart(ctxConsumed, {
        type: 'bar',
        data: {
            labels: {{ labelsProfile| safe }},
    datasets: [
        {
            label: 'Calorie Analytics',
            data: {{ dataProfile| safe }},
        backgroundColor: [
            'rgba(80, 130, 120, 0.6)',
            'rgba(130, 255, 135, 0.6)',
            'rgba(200, 250, 200, 0.6)',
            'rgba(200, 250, 200, 0.8)',
        ],
        }
    ]
        },
    options: {

        scales: {
            x: {
                ticks: {
                    color: 'white',
                    },
            },
            y: {
                ticks: {
                    color: 'white',
                    },
                beginAtZero: true
            }
        }
    }
    });
    const ctxNutrient = document.getElementById('calorieGoalGraph').getContext('2d');
    const myChartNutrient = new Chart(ctxNutrient, {
        type: 'line',
        data: {
            labels: {{ labelsCalorie| safe }},
    datasets: [
        {
            label: 'Calorie Goal Analytics',
            data: {{ dataCalorie| safe }},
        hoverOffset: 4,
        backgroundColor: [
            'rgba(80, 130, 120, 0.6)',
            'rgba(130, 255, 135, 0.6)',
            'rgba(200, 250, 200, 0.6)',
        ],
        fill: true,
                }
    ],

        },
    options: {
        elements: {
            arc: {
                borderWidth: 0
            }
        },
        scales: {
            x: {
                ticks: {
                    color: 'white',
                    },
                grid: {
                    color: 'white'
                },
            },
            y: {
                ticks: {
                    color: 'white',
                    },
                grid: {
                    color: 'white'
                },
                beginAtZero: true
            }
        }
    }
    });

    const ctxNutrients = document.getElementById('nutrientSummary').getContext('2d');
    const myChartNutrients = new Chart(ctxNutrients, {
        type: 'line',
        data: {
            labels: {{ labelsCalorie| safe }},
    datasets: [
        {
            label: 'Calorie Consumed',
            data: {{ dataCalorieTotal| safe}},
        hoverOffset: 4,
        backgroundColor: [
            'rgba(80, 130, 120, 0.6)',
            'rgba(130, 255, 135, 0.6)',
            'rgba(200, 250, 200, 0.6)',
        ],
        fill: true,
        },
        {
            label: 'Calorie Goal',
            data: {{ dataCalorie| safe}},
        hoverOffset: 4,
        backgroundColor: [
            'rgba(80, 130, 120, 0.6)',
            'rgba(130, 255, 135, 0.6)',
            'rgba(200, 250, 200, 0.6)',
        ],

        fill: true,
        },
    ],

        },
    options: {
        elements: {
            arc: {
                borderWidth: 0
            }
        },
        scales: {
            x: {
                ticks: {
                    color: 'white',
                    },
                grid: {
                    color: 'white'
                },
            },
            y: {
                ticks: {
                    color: 'white',
                    },
                grid: {
                    color: 'white'
                },
                beginAtZero: true
            }
        }
    }
    });

</script>
{% endblock content %}